@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// variables
$primary-font: 'Roboto', sans-serif;
$primary-bg-color: #242e42;
$primary-text-color: #c0c0c0;
